/*shareボタンstyle
/************************************************************/

.shareList__link.icon-twitter{background:#55acee;}
.shareList__link.icon-twitter:hover::before{color:#55acee;}

.shareList__link.icon-facebook{background:#3B5998;}
.shareList__link.icon-facebook:hover::before{color:#3B5998;}

.shareList__link.icon-google-plus{background:#dd4b39;}
.shareList__link.icon-google-plus:hover::before{color:#dd4b39;}

.shareList__link.icon-hatebu{background:#008FDE;}
.shareList__link.icon-hatebu:hover::before{color:#008FDE;}

.shareList__link.icon-pocket{background:#EB4654;}
.shareList__link.icon-pocket:hover::before{color:#EB4654;}

.shareList__link.icon-rss{background:#ff9900;}
.shareList__link.icon-rss:hover::before{color:#ff9900;}

.shareList__link.icon-feedly{background:#6cc655;}
.shareList__link.icon-feedly:hover::before{color:#6cc655;}

.shareList__link.icon-pinterest{background:#cb2027;}
.shareList__link.icon-pinterest:hover::before{color:#cb2027;}

.shareList__link.icon-linkedin{background:#0e76a8;}
.shareList__link.icon-linkedin:hover::before{color:#0e76a8;}

.shareList__link.icon-line{background:#1dcd00;}
.shareList__link.icon-line:hover::before{color:#1dcd00;}


/*ソーシャルリストデザイン5*/
.shareList5 {
	list-style:none;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	width:100%;
	margin:-5px 0 -4px -5px;
	padding:0;
}
.shareList5__item {
	height:60px;
	line-height:60px;
	width:60px;
	margin:5px 0 4px 5px;
	text-align:center;
}
.shareList5__link {
	display:block;
	color:#ffffff;
	text-decoration: none;
	border-radius: 5px;
}
.shareList5__link::before{
	font-size:16px;
	display:block;
	transition:.2s;
}
.shareList5__link:hover{opacity: 0.75;}

.shareList5__link.icon-twitter{background:#55acee; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-facebook{background:#3B5998; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-google-plus{background:#dd4b39; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-hatebu{background:#008FDE; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-pocket{background:#EB4654; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-rss{background:#ff9900; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-feedly{background:#6cc655; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-pinterest{background:#cb2027; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-linkedin{background:#0e76a8; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link.icon-line{background:#1dcd00; border-bottom: solid 4px rgba(0,0,0,0.25);}

.shareList5__link:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}